.card {
    color: black;
    background-color: white;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, .25);*/
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    border: solid #9f9f9f;
    /*margin: auto;*/
    width: 100%;
    height: 50%;
}

.cardBody {
    color: black;
}

.cardHeader {
    width: 100%;
    display: inline-flex;
    padding: 10px 17px 10px 17px;
    color: black;
    border-bottom: solid #9f9f9f;
    font-size: 25px;
    background: #eaeaea;
    align-items: center;
    /*margin-bottom: -20px;*/
}

.textarea {
    width: 80%;
    height: 6em;
    resize: none;
    border-radius: 5px;
    padding: 10px;
}

.user {
    justify-content: left;
    display: inline-flex;
    width: 100%;
    padding: 10px;
    height: 100%;
    margin: 5px;
    /*background: #61dafb;*/
}

.form1 {
    /*justify-content: space-between;*/
    display: inline-flex;
    width: 100%;
    height: 100%;
    /*background: #61dafb;*/
}

.form2 {
    display: inline-flex;
    /*background: #c96262;*/
    text-align: left;
    width: 230px;
    align-items: center;
}

.form3{
    display: flex;
    width: 100%;
    height: 200px;
    /*background: #9f9f9f;*/
    align-items: center;
    /*justify-content: center;*/
    justify-content: space-around;
}

.li {
    /*display: flex;*/
    flex-flow: column;
    list-style: none;
    /*height: 180px;*/
}

.ul {
    /*columns: 2;*/
}
