.wrapper {
    width: 100%;
    height: 680px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    /*background: #282c34;*/
    justify-content: space-between;
    /*padding-top: 50px;*/
    margin-top: auto;
    margin-bottom: auto;
}

.table {
    border: 1px #a39485 solid;
    font-size: .9em;
    /*box-shadow: 0 2px 5px rgba(0,0,0,.25);*/
    width: 100%;
    border-collapse: collapse;
    border-radius: 2px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    table-layout: fixed;
}

.th {
    text-align: center;
    padding: 10px;
}

.thead {
    font-weight: bold;
    color: #fff;
    background: #754878;
}

.td, .th {
    /*padding: 1em .5em;*/
    /*vertical-align: middle;*/
    text-align: center;
}

.td {
    padding: 10px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: #fff;
    height: 50px;
    /*white-space:nowrap;*/
}

.header {
    display: flex;
    flex-flow: column;
    width: 50%
}

.input {
    border-radius: 2px;
    outline-color: #8d3893;
    border: 1px solid #754878;
    margin: 4px;
    padding: 4px;
}