#firstPlace {
    width: 300px;
    z-index: 3;
    position: static;
    left: 20%;
    top: 20%;
}

#secondPlace {
    width: 250px;
    z-index: 2;
    position: absolute;
    left: 20%;
}

#thirdPlace {
    width: 250px;
    z-index: 1;
    position: absolute;
    left: 0%
}

.top3 {
    width: 50vw;
    line-height: 100px;
}

.top3 img{
    width: 10vw;
}

.top3 img:nth-child(2){
    width: 20vw;
}
