.top3 {
    width: 50vw;
    line-height: 100px;
    margin-left : 5%;
    margin-top: 10%;
}

.top3 img{
    width: 10vw;
}

.top3 img:nth-child(2){
    width: 20vw;
    border: #cdca4d 4px solid;
    padding:2px;
}

.top3 img:nth-child(1) {
    border: #cdcdcd 2px solid;
    padding:2px;
}

.top3 img:nth-child(3) {
    border: #cd9362 2px solid;
    padding:2px;
}