.card {
    color: black;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    /*margin: auto;*/
    width: 620px;
    height: 20%;
}

.cardBody {
    color: black;
}

.cardHeader {
    width: 100%;
    display: inline-flex;
    padding: 2px 7px 2px 7px;
    color: black;
    border-bottom: solid #9f9f9f;
    font-size: 20px;
    background: #eaeaea;
    align-items: center;
    /*margin-bottom: -20px;*/
}

.textarea {
    width: 80%;
    height: 3em;
    resize: none;
    border-radius: 5px;
    padding: 10px;
}

.form1 {
    justify-content: space-between;
    display: inline-flex;
    width: 650px;
    height: 25px;
}

.form2 {
    display: inline-flex;
    /*background: #c96262;*/
    text-align: left;
    width: 230px;
    align-items: center;
}

.form3{
    display: flex;
    text-align: right;
    width: 98%;
    /*background: #9f9f9f;*/
    justify-content: space-around;
}

.li {
    /*display: flex;*/
    flex-flow: column;
    list-style: none;
    /*height: 180px;*/
}

.ul {
    /*columns: 2;*/
}
