.form {
    color: black;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: 150px;
}

.table{
    width: 100%;
    padding: 20px;
}

.th1 {
    width: 140px;
    vertical-align: middle;
    text-align: left;
}
.th2 {
    width: 140px;
    text-align: left;
}
.th3 {
    vertical-align: middle;
    text-align: left;
    float: right;
}

.td {
    padding: 10px;
    overflow: hidden;
}