.wrapper {
    display: inline-block;
    background: white;
    width: 250px;
    height: 100%;
    border-radius: 10px;
    /*padding: 10px;*/
}

.title {
    font-size: 25px;
    margin: 10px 10px 50px 10px;
    /*background: mediumorchid;*/
    width: 80%;
    overflow: hidden;
    height: 30px;
    border-radius: 20px;
    padding: 13px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #754878;
}

.item {
    margin: 10px;
    background: #f7e8e8;
    width: 80%;
    overflow: hidden;
    height: 30px;
    border-radius: 20px;
    padding: 13px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white;
}

.item:hover{
    background: #f7d5f7;
}

.itemActive {
    margin: 10px;
    background: lightcoral;
    width: 80%;
    overflow: hidden;
    height: 30px;
    border-radius: 20px;
    padding: 13px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white;
}

.itemActive:hover{
    background: #f7d5f7;
}